
.inputs-container{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.error-msg{
    display: inline;
}

i{
    cursor: pointer;
}

.btn{
    width: 100px;
    margin: auto;
    border: 1px solid #000;
}

.btn:hover{
    background-color: #0D6EFD;
}

tr:nth-child(even) {
    background-color: #d9d9d9;
}

@media screen and (max-width:1300px) {
    input{
        width: 150px !important;
    }
}